.button {
  -webkit-appearance: none;
  margin: 0;
  color: $text-color;
  border: 1px solid;
  border-radius: em(40);
  padding: em(24) em(40);
  display: inline-block;
  width: auto;

  $parent: &;

  &__font {
    &-text {
      font-weight: $medium;
      font-size: em(16);
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }

  &--color {
    &-white {
      color: $text-color-invert;
    }
    &-black {
      color: $text-color;
      border-color: $text-color;
    }
  }

  &--filled {
    &-black {
      background: $text-color;
      color: $text-color-invert;
    }
  }

  &[disabled] {
    opacity: 0.7;
    pointer-events: none;
  }
}