.image-banner {
  width: 100%;
  height: em(1200);

  background: url('images/pages/main/bg-banner.jpg') center / cover no-repeat;
  position: relative;
  overflow: hidden;

  &__font {
    &--title {
      font-size: em(300);
      line-height: 90%;
      text-transform: uppercase;
      text-align: center;
      font-family: $font-accent;
      color: $text-color-invert;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba($text-color, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &__pic {
    position: absolute;
    width: em(300);
    height: em(300);
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:nth-child(1) {
      left: 0;
      bottom: em(116);
    }
    &:nth-child(2) {
      left: em(345);
      top: em(117);
    }
    &:nth-child(3) {
      left: em(645);
      top: em(-107);
    }
    &:nth-child(4) {
      right: em(320);
      top: em(174);
    }
    &:nth-child(5) {
      right: 0;
      bottom: em(246);
    }
    &:nth-child(6) {
      left: em(320);
      bottom: em(-134);
    }
  }
}