.product-card {
  width: em(484);
  text-align: center;
  position: relative;
  cursor: pointer;

  &__font {
    margin: 0;

    &--name {
      font-size: em(20);
      font-weight: $medium;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    &--price {
      font-size: em(16);
      font-weight: $medium;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }

    &--badge {
      font-weight: $bold;
      font-size: em(16);
      text-transform: uppercase;
      text-align: center;
      color: $text-color-invert;
    }
  }

  &__image {
    width: 100%;
    border-radius: em(500);
    height: em(726);
    margin-bottom: em(32);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__badge {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: em(20);
    right: em(32);

    border-radius: 50%;
    width: em(100);
    height: em(100);
    background: $text-color;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: em(8);
  }
}