.cart-popup {
  width: em(500);
  height: 100dvh;
  background: $background-color;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: em(32) 0;

  &__font {
    display: block;

    &--title{
      font-family: $font-accent;
      font-size: em(36);
      line-height: 110%;
    }

     &--name {
       font-size: em(20);
       letter-spacing: 0.05em;
       font-weight: $medium;
       text-transform: uppercase;
     }

    &--remove {
      font-size: em(14);
      letter-spacing: 0.1em;
      font-weight: $medium;
      text-transform: uppercase;
    }

    &--price {
      font-size: em(16);
      letter-spacing: 0.06em;
      font-weight: $medium;
    }

    &--text {
      font-size: em(20);
      letter-spacing: 0.05em;
      font-weight: $medium;
      text-transform: uppercase;
    }

    &--button {
      font-weight: $medium;
      font-size: em(16);
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0 em(32);
  }

  &__list {
    flex: 1;
    padding: 0 em(32);
    margin-top: em(48);
  }

  &__item {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $border-color;
    margin-top: em(32);
    padding-top: em(32);

    &:first-child{
      border: none;
      margin: 0;
      padding: 0;
    }
  }

  &__remove-btn {
    width: auto;
    display: inline-block;
    margin-left: 0;
    margin-right: auto;
  }

  &__item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
    padding: 0 em(24);
  }

  &__close {
    display: inline-block;
    width: auto;
  }

  &__input {
    -webkit-appearance: none;
    box-shadow: none;
    background: $text-color-invert;
    border: 1px solid $text-color;
    border-radius: em(500);
    width: em(65);
    height: em(52);

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: $medium;
    font-size: em(16);
    color: $text-color;
  }

  &__item-pic {
    width: em(70);
    height: em(100);
    border-radius: em(100);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__footer {
    padding: em(32) em(32) 0;
    border-top: 1px solid $border-color;
  }

  &__footer-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: em(16);
  }

  &__button {
    width: 100%;
  }
}