.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100dvh;
  pointer-events: none;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba($text-color, 0.8);
    pointer-events: auto;
  }

  > div:not(.popup__overlay) {
    position: absolute;
    z-index: 2;
    pointer-events: auto;
  }
}