.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  $parent: &;

  &--invert {
    color: $text-color-invert;

    #{$parent} {
      &__logo {
        color: $text-color-invert;
      }

      &__font {
        &-text {
          color: $text-color-invert;
        }
      }

      &__counter {
        background: $text-color-invert;
        color: $text-color;
      }
    }
  }

  &__font {
    &-text {
      text-transform: uppercase;
      text-decoration: none;
      font-size: em(16);
      letter-spacing: 0.06em;
    }

    &-count {
      text-decoration: none;
      font-size: em(12);
      letter-spacing: 0.06em;
    }
  }

  &__wrapper {
    margin: 0 auto;
    width: 100%;
    padding: em(63) em(60) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__counter {
    width: em(22);
    height: em(22);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: $text-color;
    color: $text-color-invert;
    margin-left: em(8);
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__wrap {
    display: flex;
    gap: em(48);
  }

  &__logo {
    width: em(94);
    height: em(35);

    color: $text-color;
  }
}