.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 100px;
  z-index: 100;
  background: #fff;

  &__wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: em(1024);
  }

  h1 {
    font-size: em(50);
    color: red;
  }
}